doctype html
html
  head
    title Typebot.io
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 Welcome to Typebot.io
    main
      p Your SaaS application is up and running!
    footer
      p © 2022 Typebot.io
    script(src='/javascripts/app.js')